body {
    background: #EFEFEF;
}

.mb-1 {
    margin-bottom: 10px
}

.bordoub {
    border: 5px double black
}

.otstup {
    width: 100%;
    padding-top: 10px
}

#nodecor {
    text-decoration: none !important;
}

#zoominp {
    zoom: 1.5;
}